<template>
    <div class="modal-overlay" @click="$emit('close-modal')">
        <div class="modal" @click.stop>
            <div class="testbox">
                <form @submit="createChall" onsubmit="return false">
                    <div class="banner">
                        <h2>Créer un challenge</h2>
                    </div>
                    <div class="item">
                        <p>Nom du challenge</p>
                        <input type="text" name="name" v-model="challengeName"/>
                    </div>
                    <div class="item">
                        <p>Description du challenge</p>
                        <textarea rows="3" v-model="challengeDesc"></textarea>
                    </div>
                    <div class="item">
                        <p>Sélectionner une date de fin : </p>
                        <Datepicker name="date" v-model="date" class="date" :format="customFormatter"></Datepicker>
                    </div>
                    <div class="submit-alert alert alert-danger" v-if="errors">
                        {{ errors }}
                    </div>
                    <div class="btn-block">
                        <button type="submit" href="/">Créer</button>
                    </div>
                </form>
            </div>
            <div class="close" @click="$emit('close-modal')">       
                <button>Retour</button>
            </div>
        </div>
    </div>
</template>

<script>
import store from '../store/index.js';
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import moment from 'moment'

export default {
    data() {
        return {
            challengeName: null,
            challengeDesc: null,
            errors: null,
            date: null,
        }
    },
    components: {
        Datepicker
    },
    methods: {
        customFormatter(date) {
            this.date = moment(date).format('yyyy-MM-DD h:mm:ss');
            return this.date;
        },
        createChall() {
            const newChall = {
                "name": this.challengeName,
                "desc": this.challengeDesc,
                "endDate": this.date,
            }
            store.dispatch("createChall", newChall)
            .then(() => {
                this.errors = null;
            })
            .catch((err) => {
                if (err.response.status == 422) {
                    this.errors = "Veuillez remplir tous les champs."
                }
            });
        },
    },
}
</script>

<style scoped>
.testbox {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input, textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.item {
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #575757da;
  z-index: 1;
}

.modal {
  text-align: center;
  background-color: white;
  height: 550px;
  width: 500px;
  margin-top: 10%;
  padding: 20px 0;
  border-radius: 20px;
}

.close button {
  cursor: pointer;
}

p {
  font-size: 16px;
  margin: 10px 0;
  display: inline-block;
}

button {
  background-color: #5556b8f5;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 6px 12px;
  border: 0;
  cursor: pointer;
}
</style>