<template>
    <div class="modal-overlay" @click="$emit('close-modal')">
        <div class="modal" @click.stop>
            <h2>Importer des utilisateurs</h2>
            <p>Sélectionner un fichier Excel : </p>
            <form @submit="toJson" onsubmit="return false">
                <label for="excelFile" class="custom-file-upload">
                    <span class="submit">Choisir un fichier</span>
                </label>
                <input id="excelFile" name="excelFile" type="file" accept=".csv"><br>
                <p id="selected">Aucun fichier</p><br>
                <button type="submit">Importer</button>
            </form>
            <div class="box list">
                <ag-grid-vue style="width: 100%; height: 80%;"
                class="ag-theme-alpine"
                :columnDefs="columnDefs"
                :rowData="rowData"
                @grid-ready="onGridReady"
                @cell-value-changed ="update"
                :rowSelection="rowSelection"
                :rowMultiSelectWithClick="true">
                </ag-grid-vue>
                <button @click="selectUsers">Sélectionner</button>
            </div>
            <div class="close" @click="$emit('close-modal')">       
                <button>Retour</button>
            </div>
        </div>
    </div>
</template>

<script>
import store from '../store/index.js';
import { computed } from "vue";
import { AgGridVue } from "ag-grid-vue3";
import "ag-grid-community/dist/styles/ag-grid.css";
import "ag-grid-community/dist/styles/ag-theme-alpine.css";

export default {
    data() {
        return {
            gridApi: null,
            rowData: null,
            rowSelection: 'multiple',
            users: {},
        }
    },
    watch: {
        users: function (usersUpdated) {
            if (Array.isArray(usersUpdated)) this.rowData = usersUpdated;
        },
    },
    components: {
        AgGridVue,
    },
    mounted() {
        this.users = computed(() => store.state.users.data);
    },
    setup() {        
        store.dispatch("getStudents");
        return {
            columnDefs: [
                { headerName: "Nom", field: "name", sortable: true, filter: true, resizable: true },
                { headerName: "Prénom", field: "surname", sortable: true, filter: true, resizable: true },
            ],
        };
    },
    methods: {
        onGridReady(params) {
            this.gridApi = params.api;
            this.gridColumnApi = params.columnApi;
            this.gridApi.sizeColumnsToFit(); 
        },
        selectUsers(event) {
            const rows = this.gridApi.getSelectedRows();
            /*const extractColumn = (arr, column) => arr.map(x=>x[column]);
            if (rows.length > 0) {
                store.dispatch("deleteUser", extractColumn(rows, "id"));
                this.gridApi.applyTransaction({ remove: rows});
            }*/
        },
        toJson(event) {
            //console.log(document.getElementById('excelFile').files[0]);
            
            /*const fileType = event.target.files[0]['type'];
            //if(fileType === 'text/csv') {
                var fullPath = document.getElementById('excelFile').value;
                if (fullPath) {
                    var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                    var filename = fullPath.substring(startIndex);
                    if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                        filename = filename.substring(1);
                    }
                    document.getElementById("selected").innerHTML = filename;
                
                }*/
                store.dispatch("importUsers", document.getElementById('excelFile').files);
            }
        //}
    }
}
</script>

<style scoped>
input[type="file"] {
    display: none;
}

.custom-file-upload {
  margin: 5px;
  background-color: #cececef5;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: #5556b8f5;
  color: white;
}

#selected {
    font-style: italic;
    margin: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #575757da;
  z-index: 1;
}

.modal {
  text-align: center;
  background-color: white;
  height: 700px;
  width: 500px;
  margin-top: 10%;
  padding: 50px 0;
  border-radius: 20px;
}
.close button {
  cursor: pointer;
}

p {
  font-size: 16px;
  margin: 20px 0;
  display: inline-block;
}

button {
  background-color: #5556b8f5;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 6px 12px;
  border: 0;
  cursor: pointer;
}

.box {
  margin: 10px 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.list {
  height: 50%;
  justify-content: center;
}
</style>