<template>
    <div class="modal-overlay" @click="$emit('close-modal')">
        <div class="modal" @click.stop>
            <h2>Importer des machines</h2>
            <p>Sélectionner un fichier OVA : </p>
            <label for="file-upload" class="custom-file-upload">
                <span class="submit">Choisir un fichier</span>
            </label>
            <input id="file-upload" type="file" @change="checkType" accept=".ova" download><br>
            <p id="selected">Aucun fichier</p><br>
            <button type="submit">Importer</button>
            <div class="close" @click="$emit('close-modal')">
                <button>Retour</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        checkType(event) {
            const fileType = event.target.files[0]['type'];
            if(fileType === 'application/x-virtualbox-ova') {
                var fullPath = document.getElementById('file-upload').value;
                if (fullPath) {
                    var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                    var filename = fullPath.substring(startIndex);
                    if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = filename.substring(1);
                    }
                    document.getElementById("selected").innerHTML = filename;
                }
                console.log(event.target.files[0]);
            }
        }
    }
}
</script>

<style scoped>
input[type="file"] {
    display: none;
}

.custom-file-upload {
  margin: 5px;
  background-color: #cececef5;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: #5556b8f5;
  color: white;
}

#selected {
    font-style: italic;
    margin: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #575757da;
  z-index: 1;
}

.modal {
  text-align: center;
  background-color: white;
  height: 500px;
  width: 500px;
  margin-top: 10%;
  padding: 50px 0;
  border-radius: 20px;
}
.close button {
  cursor: pointer;
}

p {
  font-size: 16px;
  margin: 20px 0;
  display: inline-block;
}

button {
  background-color: #5556b8f5;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 50px;
  padding: 6px 12px;
  border: 0;
  cursor: pointer;
}
</style>