<template>
  <div>
    <div class="sidebar" :class="isOpened ? 'open' : ''" :style="cssVars">
      <div class="logo-details" style="margin: 6px 14px 0 14px;">
        <img src="../assets/esiee.png" class="menu-logo icon" alt="esiee">
        <i class="bx" :class="isOpened ? 'bx-menu-alt-right' : 'bx-menu'" id="btn" @click="isOpened = !isOpened"/>
      </div>
      
      <div style="display: flex ; flex-direction:column; justify-content: center; flex-grow: 1; max-height: calc(100% - 60px); ">
        <div style="margin: 6px 14px 0 14px;">
          <ul class="nav-list" style="overflow: visible;">
            <span v-for="(menuItem, index) in menuItems" :key="index">
              <li>
                <router-link :key="menuItem.name" :to="menuItem.link" :class="{ active: isActive }" @click="isActive = !isActive">
                  <i class="bx" :class="menuItem.icon || 'bx-square-rounded'"/>
                  <span class="links_name">{{ menuItem.name }}</span>
                </router-link>
              </li>
            </span>
          </ul>
        </div>
      </div>

      <div class="profile">
          <div class="profile-details" @click="logout">
            <i class="bx bx-log-out"/>
            <button>Se déconnecter</button>
          </div>
        </div>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
import { useStore } from "vuex";
import { computed } from "vue";
import { useRouter } from "vue-router";

  export default {
    name: 'Navbar',
    props: {
      //! Menu settings
      isMenuOpen: {
        type: Boolean,
        default: true,
      },
      isLinkFocus: {
        type: Boolean,
        default: false,
      },
      isPaddingLeft: {
        type: Boolean,
        default: true,
      },
       menuOpenedPaddingLeftBody: {
        type: String,
        default: '250px'
      },
      menuClosedPaddingLeftBody: {
        type: String,
        default: '78px'
      },
      //! Menu items
      menuItems: {
        type: Array,
        default: () => [
          {
            link: { name: 'Home' },
            name: 'Accueil',
            icon: 'bx-grid-alt',
          },
          {
            link: { name: 'Users' },
            name: 'Utilisateurs',
            icon: 'bx-user',
          },
          {
            link: { name: 'Machines' },
            name: 'Machines',
            icon: 'bx-laptop',
          },
        ],
      },
      isExitButton: {
        type: Boolean,
        default: true,
      },
      //! Styles
      bgColor: {
        type: String,
        default: '#5556b8',
      },
      iconsColor: {
        type: String,
        default: '#fff',
      },
      searchInputTextColor: {
        type: String,
        default: '#fff',
      },
      menuItemsHoverColor: {
        type: String,
        default: '#fff',
      },
      menuItemsTextColor: {
        type: String,
        default: '#fff',
      },
      menuFooterTextColor: {
        type: String,
        default: '#fff',
      },
    },
    data() {
      return {
        isOpened: false,
        isActive: false
      }
    },
    mounted() {
      this.isOpened = this.isMenuOpen;
      this.isActive = this.isLinkFocus
    },
    setup() {
      const store = useStore();
      const router = useRouter();

      function logout() {
        store.dispatch("logout").then(() => {
          router.push({
            name: "Login",
          });
        });
      }
      store.dispatch("getUser");
      return {
        user: computed(() => store.state.user.data),
        logout,
      };
    },
    computed: {
      cssVars() {
        return {
          '--bg-color': this.bgColor,
          '--icons-color': this.iconsColor,
          '--serach-input-text-color': this.searchInputTextColor,
          '--menu-items-hover-color': this.menuItemsHoverColor,
          '--menu-items-text-color': this.menuItemsTextColor,
          '--menu-footer-text-color': this.menuFooterTextColor,
        }
      },
    },
    watch: {
      isOpened() {
        window.document.body.style.paddingLeft = this.isOpened && this.isPaddingLeft ? this.menuOpenedPaddingLeftBody : this.menuClosedPaddingLeftBody
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  @import url('https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease;
  }

  .menu-logo {
    width: 30px;
    margin: 10px 10px 0 10px;
  }

  .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    min-height: min-content;
    width: 85px;
    background: var(--bg-color);
    z-index: 99;
    transition: all 0.5s ease;
  }

  .sidebar.open {
    width: 250px;
  }

  .sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: left;
    position: relative;
  }

  .sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
  }

  .sidebar.open .logo-details .icon {
    opacity: 1;
  }

  .sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all 0.4s ease;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .sidebar.open .logo-details #btn {
    text-align: right;
  }

  .sidebar i {
    color: var(--icons-color);
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }

  .sidebar .nav-list {
    margin-top: 20px;
  }

  .sidebar li {
    position: relative;
    margin: 20px 0;
    list-style: none;
  }

  .sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: var(--bg-color);
  }

  .sidebar li a .active {
    color: red;
  }

  .sidebar li a:hover {
    background: var(--menu-items-hover-color);
  }

  .sidebar li a .links_name,
  .sidebar div .profile-details button {
    color: var(--menu-items-text-color);
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }

  .sidebar.open li a .links_name,
  .sidebar.open div .profile-details button {
    opacity: 1;
    pointer-events: auto;
  }

  .sidebar li a:hover .links_name,
  .sidebar li a:hover i {
    transition: all 0.5s ease;
    color: var(--bg-color);
  }

  .sidebar li i, 
  .sidebar div .profile-details i {
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    border-radius: 12px;
  }

  .sidebar div.profile {
    position: relative;
    height: 60px;
    width: 78px;
    padding: 10px 14px;
    transition: all 0.5s ease;
    overflow: hidden;
  }

  .sidebar.open div.profile {
    width: 250px;
  }

  .sidebar button {
    padding: 0;
    border: none;
    cursor: pointer;
    background: none;
    font-size: 15px;
    color: white;
  }
  
  .sidebar div .profile-details {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .sidebar div img {
    height: 45px;
    width: 125px;
    border-radius: 6px;
    margin-right: 10px;
  }

</style>