<template>
    <div class="modal-overlay" @click="$emit('close-modal')">
        <div class="modal" @click.stop>
            <h2>Démarrer le challenge</h2>
            <form @submit="toJson" onsubmit="return false">
                <p>Voulez-vous vraiment démarrer le challenge ?</p>
                <button type="submit">Démarrer</button>
            </form>
            <div class="close" @click="$emit('close-modal')">       
                <button>Retour</button>
            </div>
        </div>
    </div>
</template>

<script>
import store from '../store/index.js';

export default {
    data() {
        return {
            refs: null,
        }
    },
    mounted() {
        this.refs = this.$refs
    },
    methods: {
    }
}
</script>

<style scoped>
input[type="file"] {
    display: none;
}

.custom-file-upload {
  margin: 5px;
  background-color: #cececef5;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: #5556b8f5;
  color: white;
}

#selected {
    font-style: italic;
    margin: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #575757da;
  z-index: 1;
}

.modal {
  text-align: center;
  background-color: white;
  height: 300px;
  width: 500px;
  margin-top: 10%;
  padding: 50px 0;
  border-radius: 20px;
}
.close button {
  cursor: pointer;
}

p {
  font-size: 16px;
  margin: 20px 0;
  display: inline-block;
}

button {
  background-color: #5556b8f5;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 6px 12px;
  border: 0;
  cursor: pointer;
}
</style>