<template>
<div class="loginPage">
  <div class="login-box">
    <img src="../assets/esiee.png" />
    <h2>Réinitialisation</h2>

    <form @submit="sendMail">
      <div class="user-box">
        <label>Email</label>
        <input type="text" name="" v-model="user.email">
        <div class="alert" v-if="errors && errors.email">
          {{ errors.email[0] }}
        </div>
        <div class="info" v-if="infoSent">
          {{ infoSent }}
        </div>
      </div>
      <button class="btn_send highlight">Envoyer</button><br/>
      <div class="spinner" v-if="loading">
        <atom-spinner :animation-duration="2000" :size="45" :color="'#5556b8f5'"/>
      </div>
    </form>

    <form @submit="validateToken">
      <div class="user-box">
        <label>Token</label>
        <input type="text" name="" v-model="user.token">
        <div class="alert" v-if="errors && errors.token">
          {{ errors.token[0] }}
        </div>
      </div>
      <button class="btn_send highlight">Valider</button><br/>
      <div class="submit-alert alert" v-if="errors && errors.creds">
          {{ errors.creds }}
      </div>
      <div class="spinner" v-if="loading">
        <atom-spinner :animation-duration="2000" :size="45" :color="'#5556b8f5'"/>
      </div>
    </form>
    
    <form @submit="resetPassword">
      <div class="user-box">
        <label>Nouveau mot de passe</label>
        <input type="text" name="" v-model="user.newPass">
        <div class="alert" v-if="errors && errors.newPass">
          {{ errors.newPass[0] }}
        </div>
      </div>
      <div class="user-box">
        <label>Confirmer le mot de passe</label>
        <input type="text" name="" v-model="user.confirm">
      </div>
      <button class="btn_send highlight">Modifier</button><br/>
      <div class="submit-alert alert" v-if="errors && errors.pass">
          {{ errors.pass }}
      </div>
      <div class="spinner" v-if="loading">
        <atom-spinner :animation-duration="2000" :size="45" :color="'#5556b8f5'"/>
      </div>
      <router-link class="btn_login" :to="{ name: 'Login' }">Se connecter</router-link>
    </form>
  </div>
</div>
</template>

<script setup>
import store from "../store";
import { useRouter } from "vue-router";
import { ref } from "vue";
import $ from 'jquery'
import {AtomSpinner} from 'epic-spinners'

const router = useRouter();
const user = { email: "", token: "", newPass: "", confirm: "" };
let errors = ref({});
let loading = ref(false);
let infoSent = ref("");

function sendMail(ev) {
  ev.preventDefault();
  loading.value = true;
  
  store.dispatch("sendToken", user)
    .then(() => {
      loading.value = false;
      infoSent.value = "Email envoyé.";
      errors.value = {};
    })
    .catch((err) => {
      loading.value = false;
      if (err.response.status == 422) {
        errors.value = err.response.data.errors;
      }
    });
};

function validateToken(ev) {
  ev.preventDefault();
  loading.value = true;

  store.dispatch("validateToken", user)
    .then(() => {
      loading.value = false;
      errors.value = {};
    })
    .catch((err) => {
      loading.value = false;
      if (err.response.status == 422) {
        errors.value = err.response.data.errors;
      }
    });
};

function resetPassword(ev) {
  ev.preventDefault();
  loading.value = true;
  if (user.newPass != user.confirm) { // vérifier que les champs nesoient pas vides && politique de passes 
    loading.value = false;
    return errors.value = {pass: "Mots de passe non correspondants."};
  }
  else errors.value = {};
  store.dispatch("resetPassword", user)
    .then(() => {
      loading.value = false;
      errors.value = {};
    })
    .catch((err) => {
      loading.value = false;
      if (err.response.status == 422) {
        errors.value = err.response.data.errors;
      }
    });
};

$(function() {
   $(".user-box input").focus(function() {
      $(this).parent(".user-box").each(function() {
         $("label", this).css({
            "line-height": "18px",
            "font-size": "12px",
            "top": "-15px"
         })
      });
   }).blur(function() {
      if ($(this).val() == "") {
         $(this).parent(".user-box").each(function() {
            $("label", this).css({
              "font-size": "16px",
              "top": "0px"
            })
         });

      }
   });
});
</script>

<style>
button {
  border: 0;
}

.loginPage {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin:0;
  padding:0;
  font-family: helvetica;
  background: linear-gradient(#141e30, #243b55);
}

img {
  width: 75%;
}

.alert {
  color: red;
  font-size: 15px;
  text-align: left;
  padding-bottom: 10px;
}

.submit-alert {
  text-align: center;
  padding-top: 5px;
}

.info {
  text-align: left;
  color: rgb(8, 156, 8);
}

.spinner {
  text-align: center;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 50px;
  padding: 25px;
}

.login-box h2 {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 0 5px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.login-box .user-box {
  position: relative;
  margin: 15px 0;
}

.login-box .user-box input {
  width: 100%;
  font-size: 16px 0;
  color: rgb(0, 0, 0);
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
  background: transparent;
  padding-top: 5px;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 10px;
}

.login-box .user-box label {
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
  pointer-events: none;
  transition: .5s;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn_login {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  font-size: 12px;
  transition: .5s;
  margin-top: 10px;
  letter-spacing: 1px;
}

.btn_send {
  margin-top: 10px;
  background: #5556b8f5;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  padding: 5px 5px;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  transition: .3s;
  letter-spacing: 2px;
  cursor: pointer;
}

/* Hover Login Button */
.highlight:hover {
  box-shadow: 0 0 5px #110331f5,
              0 0 10px #160064f5,
              0 0 15px #292b81f5,
              0 0 20px #5556b8f5;
}
/* Slide in */
.btn_login::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
}

.btn_login:hover::after {
  width: 100%;
}

@media screen and (max-width: 380px){
  .login-box{
    width: 90%;
  }
}
</style>