<template>
  <div class="home">
    <h1 class="hello">Bonjour {{ this.user.surname }} </h1>

    <div class="wrapper">
      <div class="box users">
        <h2>Challenge en cours : <span v-if="chall.challenge_name">{{ chall.challenge_name }}</span><span v-else>/</span></h2>
        <p>{{ nbUsersOnChall }} utilisateur(s) sur ce challenge</p>
      </div>
      <div class="box points">
        <div class="row">
          <h2>Points</h2>
          <router-link :to="{ name: 'Score' }"><i class='bx bx-link-external'></i></router-link>
        </div>
        <div class="row" id="chart">
          <apexchart type="bar" height="150" :options="chartOptions" :series="series"></apexchart>
        </div>
      </div>
      <div class="box machines">
        <div class="row">
          <h2>Machines</h2>
        </div>
        <div class="row">
          <div class="circle active"><i class='bx bxs-circle'></i> {{ activeMachines }} machine(s) allumée(s)</div>
          <div class="circle inactive"><i class='bx bxs-circle'></i> {{ activeMachines }} machine(s) éteinte(s)</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from '../store/index.js';
import { computed } from "vue";

export default {
  data() {
    return {
      user: {},
      chall: {},
      challUsers: {},
      team: {},
      machine: {},
      nbUsersOnChall: '',
      pointsRed: 0,
      pointsBlue: 0,
      activeMachines: 0,
      inactiveMachines: 0,
      blueUsers:0,
      redUsers: 0,
      chartOptions: {
        colors : ['#FF0000', '#00BFFF'],
        chart: {
          type: 'bar',
            height: 150,
            stacked: true,
        },
        plotOptions: {
          bar: {
            horizontal: true,
          },
        },
        stroke: {
          width: 0,
          colors: ['#fff']
        },
        xaxis: {
          categories: ["Score"],
        },
        yaxis: {
          title: {
            text: undefined
          },
        },
        tooltip: {
          y: {
            formatter: function (val) {
              return val + "K"
            }
          }
        },
        fill: {
          opacity: 1,
        },
        legend: {
          position: 'top',
          horizontalAlign: 'left',
          offsetX: 40
        }
      },
    }
  },
  setup() {
    store.dispatch("getUser");
    store.dispatch("getCurrChallenge");
    store.dispatch("getTeams");
  },
  mounted() {
    this.user = computed(() => store.state.user.data);
    this.chall = computed(() => store.state.challenge.data);
    this.team = computed(() => store.state.team.data);
    this.machine = computed(() => store.state.machine.data);
    // Prevent chart from duplicating
    this.$nextTick(() => {
        window.dispatchEvent(new Event('resize'));
    });
  },
  watch: {
    chall: function (newChall) {
      store.dispatch("getUserByChall", newChall);
      store.dispatch("getMachine", newChall);
      this.challUsers = computed(() => store.state.challenge.users);
    },
    challUsers: function (challUsersUpdated) {
      if (Array.isArray(challUsersUpdated)) this.nbUsersOnChall = challUsersUpdated.length;
    },
    team: function (teamUpdated) {
      if (Array.isArray(teamUpdated) && Array.isArray(this.chall)) {
        if (teamUpdated[0].team_code == 'RED'){
          this.pointsRed = teamUpdated[0].team_score;
          this.pointsBlue = teamUpdated[1].team_score;
        }
        else if (teamUpdated[1].team_code == 'RED'){
          this.pointsRed = teamUpdated[1].team_score;
          this.pointsBlue = teamUpdated[0].team_score;
        }
      }
    },
    machine: function (machineUpdated) {
      if (Array.isArray(machineUpdated)) {
        this.activeMachines = 0;
        this.inactiveMachines = 0;
        for (var i = 0; i < machineUpdated.length; i++) {
          if (machineUpdated[i].machine_isActive) this.activeMachines ++;
          else this.inactiveMachines ++;
        }
      }
    },
  },
  computed: {
    series: function() {
      return [{
        name: 'Red Team',
        data: [this.pointsRed]
      },
      {
        name: 'Blue Team',
        data: [this.pointsBlue]
      }]
    }
  }
}

</script>

<style>
body {
  background-color: rgb(238, 238, 238);
}

.home {
  color: black;
}

.hello {
  text-align: left;
  margin-left: 30px;
  width: 900px;
}

a {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.wrapper {
  height: 370px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.box {
  margin: 20px 10px 0 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
}

.box .users {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  margin-left: 30px;
}

.users p {
  font-size: 20px;
}

.points {
  grid-column: 2 / 2;
  grid-row: 1;
  margin-right: 30px;
}

.box .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#chart {
  min-width: 300px;
}

.machines {
  grid-column: 2 / 2;
  grid-row: 2;
  margin-right: 30px;
}

.active i {
  color: rgb(50, 182, 50);
}

.inactive i {
  color: #FF0000;
}

.circle {
  margin: 5px;
}

</style>