<template>
  <div>
    <h1>Machines</h1>
    <div class="wrapper">
      <div class="box buttons">
        <button @click="showModal = true">Importer</button>
        <MachineBox v-show="showModal" @close-modal="showModal = false"/>
      </div>

      <div v-if="machines[0]">
        <div class="box machine" v-for="machine in machines" :key="machine.id">
          {{ machine.machine_name }}
          <button v-if="machine.machine_isActive">Arrêter</button>
          <button v-else>Démarrer</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from '../store/index.js';
import { computed } from "vue";
import MachineBox from '../components/ImportMachine.vue';

export default {
  data() {
    return {
      user: {},
      machines: {},
      chall: {},
      showModal: false,
      machineData: {

      },
    }
  },
  components: {
    MachineBox,
  },
  setup() {
    store.dispatch("getUser");
    store.dispatch("getCurrChallenge");
  },
  mounted() {
    this.user = computed(() => store.state.user.data);
    this.machines = computed(() => store.state.machine.data);
    this.chall = computed(() => store.state.challenge.data);
  },
  watch: {
    chall: function (newChall) {
      store.dispatch("getUserByChall", newChall);
      store.dispatch("getMachine", newChall);
      this.challUsers = computed(() => store.state.challenge.users);
    },
    machine: function (machineUpdated) {
      console.log(machineUpdated);
    },
  }
}
</script>

<style scoped>

.wrapper {
  transition: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

.box {
  margin: 10px 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.buttons {
  height: 8vw;
  justify-content: space-between;
}

button {
  height: 4vw;
  margin: 0 10px;
  padding: 15px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  background-color: #5556b8f5;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .buttons {
    height: 15vw;
    margin-bottom: 20px;
    justify-content: center;
  }
  button {
    height: 5vw;
    padding: 5px;
  }
  .box {
    margin: 10px 20px;
  }
  .wrapper {
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 425px) {
  h1 {
    margin-left: 5px;
  }
  .buttons {
    height: 40vw;
    margin-bottom: 20px;
    justify-content: space-around;
  }
  button {
    height: 9vw;
    padding: 5px;
  }
  .wrapper {
    grid-gap: 40px;
  }
  .list {
    height: 110vw;
    justify-content: center;
  }
}
</style>