<template>
  <div>
    <h1>Liste des utilisateurs</h1>
    <div class="wrapper">
      <div class="box buttons">
        <button @click="showModal = true" :disabled='isDisabledNoChall' :class="{'disabled' : isDisabledNoChall}">Importer</button>
        <ModalUsers v-show="showModal" @close-modal="showModal = false"/>
        <button @click="showModalResource = true" :disabled='isDisabledNoChall' :class="{'disabled' : isDisabledNoChall}">Ressources</button>
        <button @click="showModalStart = true" :disabled='isDisabledNoChall' :class="{'disabled' : isDisabledNoChall}">Démarrer le challenge</button>
        <button @click="showModalChall = true" :disabled='isDisabled' :class="{'disabled' : isDisabled}">Créer un challenge</button>
        <ModalChall v-show="showModalChall" @close-modal="showModalChall = false"/>
        <ModalResource v-show="showModalResource" @close-modal="showModalResource = false"/>
        <ModalStart v-show="showModalStart" @close-modal="showModalStart = false"/>
      </div>

      <div class="box list">
        <button @click="deleteRow">Supprimer</button>
        <ag-grid-vue style="width: 100%; height: 80%;"
        class="ag-theme-alpine"
        :columnDefs="columnDefs"
        :rowData="rowData"
        @grid-ready="onGridReady"
        @cell-value-changed ="update"
        :rowSelection="rowSelection"
        :rowMultiSelectWithClick="true">
        </ag-grid-vue>
      </div>
    </div>
  </div>
</template>

<script>
import store from '../store/index.js';
import { computed } from "vue";
import { AgGridVue } from "ag-grid-vue3";
import "ag-grid-community/dist/styles/ag-grid.css";
import "ag-grid-community/dist/styles/ag-theme-alpine.css";
import ModalUsers from '../components/ImportUsers.vue';
import ModalChall from '../components/CreateChall.vue';
import ModalResource from '../components/ImportFile.vue';
import ModalStart from '../components/StartChall.vue';

export default {
  data() {
    return {
      gridApi: null,
      rowData: null,
      showModal: false,
      showModalChall: false,
      showModalResource: false,
      showModalStart: false,
      rowSelection: 'multiple',
      isDisabled: true,
      isDisabledNoChall: true,
      challUsers: {},
      chall: {},
      teams: {},
    }
  },
  components: {
    AgGridVue,
    ModalUsers,
    ModalChall,
    ModalResource,
    ModalStart,
  },
  mounted() {
    this.chall = computed(() => store.state.challenge.data);
    this.teams = computed(() => store.state.team.data);
  },
  watch: {
    chall: function (newChall) {
      store.dispatch("getUserByChall", newChall);
      this.challUsers = computed(() => store.state.challenge.users);
      if (Object.keys(newChall).length > 0) {
        this.isDisabled = true;
        this.isDisabledNoChall = false;
      }
      else {
        this.isDisabled = false;
        this.isDisabledNoChall = true;
      }
    },
    challUsers: function (challUsersUpdated) {
      if (Array.isArray(challUsersUpdated)) {
        this.rowData = challUsersUpdated;

        for (var i = 0; i < this.rowData.length; i++) {
          for (var j = 0; j < this.teams.length; j++) {
            if (this.teams[j].id == this.rowData[i].team_id) {
              this.rowData[i].team = this.teams[j].team_name;
            }
          }
        }

      }
    },
  },
  setup() {
    store.dispatch("getCurrChallenge");
    store.dispatch("getTeams");
    return {
      columnDefs: [
        { headerName: "Nom", field: "name", sortable: true, filter: true, resizable: true, editable: true },
        { headerName: "Prénom", field: "surname", sortable: true, filter: true, resizable: true, editable: true },
        { headerName: "Email", field: "email", sortable: true, filter: true, resizable: true, editable: true },
        { headerName: "VPN", field: "vpn_pass", sortable: true, filter: true, resizable: true, editable: true },
        { headerName: "Équipe", field: "team", sortable: true, filter: true, resizable: true, editable: true, cellEditor: 'agSelectCellEditor', cellEditorParams: { values: teamsList } },
      ],
    };
  },
  methods: {
    onGridReady(params) {
      this.gridApi = params.api;
      this.gridColumnApi = params.columnApi;
      this.gridApi.sizeColumnsToFit(); 
    },
    update(event) {
      const user = {
        userId: event.data.id,
        col: event.colDef.field,
        newVal: event.newValue,
      }
      
      if (!(event.newValue == "")) {
        if (user.col == "team") {
          for (var i = 0; i < this.teams.length; i++) {
            if (this.teams[i].team_name == event.newValue) {
              user.col = "team_id";
              user.newVal = this.teams[i].id;
            }
          }
        }
        store.dispatch("updateUser", user);
      }
    },
    deleteRow(event) {
      const rows = this.gridApi.getSelectedRows();
      const extractColumn = (arr, column) => arr.map(x=>x[column]);
      if (rows.length > 0) {
        store.dispatch("deleteUser", extractColumn(rows, "id"));
        this.gridApi.applyTransaction({ remove: rows});
      }
    }
  }
}
const teamsList = ['Red Team', 'Blue Team'];
</script>

<style scoped>
.wrapper {
  transition: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

.box {
  margin: 10px 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.buttons {
  height: 8vw;
  justify-content: space-between;
}

.list {
  height: 50vw;
  justify-content: center;
}

button {
  height: 4vw;
  margin: 0 10px;
  padding: 15px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  background-color: #5556b8f5;
  color: #fff;
}

.disabled {
  background-color: grey;
  cursor: auto;
}

@media only screen and (max-width: 768px) {
  .buttons {
    height: 15vw;
    margin-bottom: 20px;
    justify-content: center;
  }
  button {
    height: 5vw;
    padding: 5px;
  }
  .box {
    margin: 10px 20px;
  }
  .wrapper {
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 425px) {
  h1 {
    margin-left: 5px;
  }
  .buttons {
    height: 40vw;
    margin-bottom: 20px;
    justify-content: space-around;
  }
  button {
    height: 9vw;
    padding: 5px;
  }
  .wrapper {
    grid-gap: 40px;
  }
  .list {
    height: 110vw;
    justify-content: center;
  }
}
</style>